{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "modules": false,
                "useBuiltIns": "usage",
                "targets": {
                    "ie": "11"
                    // "edge": "20",
                    // "chrome": "60"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 2,
                "helpers": true,
                "regenerator": true,
                "useESModules": true
            }
        ]
    ]
}